<a href="https://colab.research.google.com/github/financieras/altocodigo/blob/main/Fibonacci.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fibonacci

## Método 1

In [2]:
n=max(int(input('¿Cuántos valores quieres? (minimo 5): ')), 5)
old = 0
x = 1
print(old)
print(x)
for i in range(0,n-2):
  y = x + old
  print(y)
  old = x
  x = y

¿Cuántos valores quieres? (minimo 5): 12
0
1
1
2
3
5
8
13
21
34
55
89

## Método 2

In [6]:
while True:
  n=int(input('¿Cuántos valores quieres? (mínimo 3): '))
  if n > 2:
    break
x = [0,1]
for i in range(n-2):
  x.append(x[-1] + x[-2])
print(x)

¿Cuántos valores quieres? (mínimo 3): 20
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

## Método 3

In [5]:
lista = [0, 1]
for i in range(3, 21):
  lista.append(lista[len(lista)-1] + lista[len(lista)-2])
print(lista)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

## Método 4

In [9]:
def fibo(n):
  a = 0
  b = 1
  for i in range(3, n+1):
    c = a+b
    a = b
    b = c
  return(c)
print(fibo(100))

218922995834555169026

## Método 5

In [24]:
n = 20    # número de términos de la serie
fibo = [0, 1]
for i in range (n-2):
  fibo.append(fibo[-1] + fibo[-2])
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

## Método 6

In [25]:
def fibo(n):
  a, b = 0, 1
  for i in range(n):
    print(a, end=' ')
    a, b = b, a+b
  print()
fibo(20)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

## Método 7

In [28]:
n = 20
a, b = 0, 1
print("1:", a)
print("2:", b)

for i in range(3, n+1):
    b = a + b
    a = b - a  # así evitamos emplear una variable auxiliar
    print(f"{i}: {b}")

1: 0
2: 1
3: 1
4: 2
5: 3
6: 5
7: 8
8: 13
9: 21
10: 34
11: 55
12: 89
13: 144
14: 233
15: 377
16: 610
17: 987
18: 1597
19: 2584
20: 4181